%hr

%footer
  .row
    .col-md-9
      %p
        &copy; Infopark AG

    .col-md-3.text-right
      %p
        %small.muted
          Powered by

          = link_to('Infopark', 'http://www.infopark.com', title: 'Infopark powers great websites.')
          |
          = render_cell(:login, :show, @page)