.ip_editing_widget_visualization
  %i.thumbnail-icon.editing-icon-puzzle

.ip_editing_widget_title
  = t('widgets.gallery_widget.title')

.ip_editing_widget_description
  = t('widgets.gallery_widget.description')
