.ip_editing_widget_visualization
  %i.thumbnail-icon.editing-icon-headline

.ip_editing_widget_title
  = t('widgets.headline_widget.title')

.ip_editing_widget_description
  = t('widgets.headline_widget.description')
