.ip_editing_widget_visualization
  %i.thumbnail-icon.editing-icon-text

.ip_editing_widget_title
  = t('widgets.text_widget.title')

.ip_editing_widget_description
  = t('widgets.text_widget.description')
