.ip_editing_widget_visualization
  %i.thumbnail-icon.editing-icon-box

.ip_editing_widget_title
  = t('obj_classes.profile_page.title')

.ip_editing_widget_description
  = t('obj_classes.profile_page.description')
