.ip_editing_widget_visualization
  %i.thumbnail-icon.editing-icon-image

.ip_editing_widget_title
  = t('widgets.image_widget.title')

.ip_editing_widget_description
  = t('widgets.image_widget.description')
