= form_tag(cms_path(@search_page), method: :get, class: 'navbar-form navbar-right', role: 'search') do
  .form-group
    = text_field_tag(:q, @query, class: 'form-control', placeholder: t('search.placeholder'))

  = submit_tag(t('search.button'), class: 'btn btn-default')
