%h3
  %i.editing-icon.editing-icon-eye{title: t('.details')}

  %span.title
    = @obj.name

  %span.editing-button.editing-right
    %i.editing-icon.editing-icon-trash.delete-button{title: t('.delete'), data: { id: @obj.id }}

.inspector-content
  = yield
